.Rproj.user
.Rhistory
.RData
.Ruserdata
snp_array/*
scripts/example_Matrix_eQTL/*
LBD_CWOW_QTL/MatrixEQTL/*
LBD_CWOW_QTL/results/*
results/*
RNA_counts/*
MatrixEQTL/*
shiny_app/*
rpubs.com/*
scripts/rsconnect/*
scripts/*.out
scripts/*.job*
scripts/2024_2025_old/*
.DS_Store